*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* reset */


/* regole da eliminare */
p{
    color: white;
}

span{
    color: white;
}
/* fine regole da eliminare */


/* container */
.container{
    display: flex;
}

.logo{
    width: 150px;
    padding: 20px 0px 0px 20px;
}
/* fine container */


/* barra fissa upgrade */
.upgrade{
    background-color: #080b12;
    height: 90px;
    width: 100%;
    position: fixed;
    z-index: 10;
}

#button{
    position: absolute;
    right: 230px;
    top: 25px;
}

button{
    padding: 10px 40px;
    background-color: transparent;
    color: white;
    border-color: white;
    border-radius: 20px;
}
/* fine barra fissa upgrade */


/* scrollbar laterale */
.scrollbar{
    min-width: 230px;
    background-color: #000000;
}

.scrollbar .logo img{
    margin-bottom: 30px;
}

.home{
    padding-left: 22px;
}

.home ul li{
    color: #6d6d6d;
    list-style-type: none;
    margin-bottom: 12px;
}

.home ul li i{
    font-size: 22px;
}

.playlist{
    padding-left: 22px;
}

.playlist h3{
    color: white;
    font-size: 14px;
    margin-top: 28px;
    margin-bottom: 12px;
}
 
.create{
    display: flex;
    align-items: center;
}

.playlist .create button{
    padding: 0px 10px;
    border-radius: 0px;
    background-color: #6d6d6d;
    border-color: transparent;
    color: black;
    font-size: 35px;
}

h6{
    font-size: 16px;
    color: #6d6d6d;
    padding-left: 10px;
}

.playlist-name{
    padding-left: 22px;
    margin-top: 20px;
    height: calc(100vh - 650px);
    overflow-y: scroll;
}

.playlist-name ul li{
    color: #6d6d6d;
    list-style-type: none;
    padding-top: 17px;
    font-size: 15px;
}
/* fine scrollbar laterale */


/* album */
.album{
    background-color: #141922;
    height: calc(100vh - 90px);
    overflow-y: scroll;
    width: 100%;
}

.container-big-album{
    padding: 30px;
    width: 100%;
}

.album .menù-links{
    padding-top: 70px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.menù-links ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 15px;
}

.menù-links ul li a{
    text-decoration: none;
    font-size: 12px;
    color: #696b70;
}

h1{
    color: white;
    margin-bottom: 20px;
    font-size: 22px;
}
/* fine album */


/* inizo stilizzazione sezione album prima fila */
.played-first-row{
    display: flex;
    gap: 15px;
    justify-content: space-between;
}

.image-album img{
    width: 100%;
}

.album-text{
   text-align: center; 
}

.album-text h2{
    color: white;
    font-size: 12px;
}

.album-text h3{
    color: #7d7f84;
    font-size: 10px;
}
/* fine stilizzazione sezione album prima fila*/


/* inizo stilizzazione sezione album seconda fila */
.played-second-row{
    display: flex;
    gap: 15px;
    width: calc(100% / 3);
}

.played-second-row .image-album img{
    width: 100%;
}

#second-title{
    margin-bottom: 10px;
}

h3{
    color: #7d7f84;
    font-size: 10px;
    margin-top: 5px;
    margin-bottom: 30px;
}
/* inizo stilizzazione sezione album seconda fila */


/* inizo stilizzazione sezione album terza fila */
.played-third-row{
    display: flex;
    gap: 15px;
    width: calc(100% / 3);
}

.played-third-row .image-album img{
    width: 100%;
    border-radius: 50%;
}

#third-title{
    margin-bottom: 10px;
}

h3{
    color: #7d7f84;
    font-size: 10px;
    margin-bottom: 30px;
}
/* inizo stilizzazione sezione album terza fila */


/* container media navbar */
footer .container-media{
    height: 90px;
    width: 100%;
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    background-color: #282828;
}

footer .container-media p{
    color: red;
}
/* fine container medi navbar */



/* media query*/
/* versione laptop */
@media screen and (max-width: 992px) {

    /* album prima fila */
    .played-first-row{
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        justify-content: flex-start;
    }

    .played-first-row .image-album{
        width: 120px;
    }
    
    .played-second-row{
        display: flex;
        gap: 5px;
        width: 240px;
    }

    .played-third-row{
        display: flex;
        gap: 5px;
        width: 240px;
    }

    .menù-links ul{
        display: flex;
        flex-wrap: wrap;
    }
}

/* versione tablet */
@media screen and (max-width: 768px) {

    /* album prima fila */
    .played-first-row{
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        width: calc(100% / 2 * 2);
        justify-content: flex-start;
    }

    .played-second-row{
        display: flex;
        gap: 5px;
        width: 240px;
    }

    .played-third-row{
        display: flex;
        gap: 5px;
        width: 240px;
    }

    .menù-links ul{
        display: flex;
        flex-wrap: wrap;
    }
}
