*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* reset */

body{
    font-family: 'Lato', sans-serif;
}


/* container */
.container{
    display: flex;
}

.logo{
    width: 150px;
    padding: 20px 0px 0px 20px;
}

.logo-mobile{
    display: none;
}

.logo-mobile img{
    width: 50px;
    padding: 20px 0px 0px 20px;
}
/* fine container */


/* barra fissa upgrade */
.upgrade{
    background-color: rgba(0, 0, 0, 0.5);
    height: 90px;
    width: 100%;
    position: fixed;
    z-index: 10;
}

#button{
    position: absolute;
    right: 205px;
    top: 25px;
    transition: transform 0.3s;
}

#button:hover{
    transform: scale(1.1);
}

button{
    padding: 10px 40px;
    background-color: transparent;
    color: white;
    border-color: white;
    border-radius: 20px;
}
/* fine barra fissa upgrade */


/* scrollbar laterale */
.scrollbar{
    min-width: 175px;
    background-color: #000000;
}

.scrollbar .logo img{
    margin-bottom: 30px;
}

#home, 
#search,
#librery{
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-bottom: 5px;
}

#home:hover{
    border-left: solid 4px #81b71a;
}

#search:hover{
    border-left: solid 4px #81b71a;
}

#librery:hover{
    border-left: solid 4px #81b71a;
}

#home img, 
#search img,
#librery img{
    width: 30px;
}

#home h6,
#search h6,
#librery h6{
    color: rgba(153, 153, 153, .7);
    font-size: 10px;
}

#home h6:hover{
    color: white;
}

#search h6:hover{
    color: white;
}

#librery h6:hover{
    color: white;
}

.playlist{
    padding-left: 20px;
}

.playlist h3{
    color: white;
    font-size: 12px;
    margin-top: 28px;
    margin-bottom: 12px;
}
 
.create{
    display: flex;
    align-items: center;
}

.playlist .create a{
    padding: 0px 10px;
    background-color: rgba(153, 153, 153, .7);
    border-color: transparent;
    color: black;
    font-size: 35px;
    text-decoration: none;
    transition: transform 0.3s;
}

.playlist .create a:hover{
    background-color: white;
    transform: scale(1.1);
}

.playlist .create h6{
    color: white;
    font-size: 12px;
    margin-left: 10px;
}

.playlist-name{
    padding-left: 20px;
    margin-top: 20px;
    height: calc(100vh - 520px);
    overflow-y: auto;
}

.playlist-name ul li{
    color: rgba(153, 153, 153, .7);
    list-style-type: none;
    padding-top: 17px;
    font-size: 10px;
}

.playlist-name ul li a{
    color: rgba(153, 153, 153, .7);
    text-decoration: none;
}

.playlist-name ul li a:hover{
    color: white;
    padding-left: 5px;
    border-left: solid 4px #81b71a;
}

.install .download h6{
    font-size: 12px;
    color: #6d6d6d;
    padding-left: 10px;
}

.install .download h6:hover{
    color: white;
}

.install{
    padding-left: 10px;
    margin-top: 30px;
}

.download a{
    transition: transform 0.3s; 
}

.download a:hover{
    transform: scale(1.1);
}

.download{
    display: flex;
    margin-bottom: 10px;
}

.download h6{
    font-size: 10px;
}

.download img{
    margin-left: 12px;
    width: 16px;
    color: rgba(153, 153, 153, .7);
}

hr{
    margin-right: 15px;
    margin-left: 5px;
}

.artist{
    margin-top: 15px;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: transform 0.5s;
}

.artist:hover{
    transform: scale(1.15);
}

.artist a h6{
    margin-left: 10px;
}

.artist a img{
    margin-left: 10px;
    background-color: #6d6d6d;
    border-radius: 50%;
    width: 25px;
    height: 23px;
}

.artist a{
    color: white;
    text-decoration: none;
}
/* fine scrollbar laterale */


/* album */
.album{
    background-color: #141922;
    height: calc(100vh - 90px);
    overflow-y: auto;
    width: 100%;
}

.container-big-album{
    padding: 30px;
    width: 100%;
}

.album .menù-links{
    padding-top: 70px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.menù-links ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 15px;
}

.menù-links ul li a{
    text-decoration: none;
    font-size: 12px;
    color: rgba(153, 153, 153, .7);
}

.menù-links ul li a:hover{
    color: white;
    border-bottom: solid 4px #81b71a;
    padding-bottom: 5px;
}

h1{
    color: white;
    margin-bottom: 20px;
    font-size: 22px;
}
/* fine album */


/* inizo stilizzazione sezione album prima fila */
.played-first-row{
    display: flex;
    gap: 15px;
    justify-content: space-between;
}

.image-album{
    width: calc((100% / 6) - 20px);
    height: 100%;
    gap: 10px;
}

.image-album .image{
    position: relative;
}

.image-album img{
    width: 100%;
    filter: opacity(1);
    transition: filter .5s;
}

.image-album:hover img{
    filter: opacity(.3);
}

.image-album i{
    color: white;
    font-size: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -20%);
    opacity: 0;
    transition: transform 0.3s,
                opacity 0.3s
}

.image-album:hover i{
    transform: translate(-50%, -50%);
    opacity: 1;
    transition: transform 0.3s,
}

.image-album:hover i:hover{
    color: #81b71a;
}

.album-text{
   text-align: center; 
}

.album-text h2{
    color: white;
    font-size: 12px;
}

.album-text h3{
    color: #7d7f84;
    font-size: 10px;
}
/* fine stilizzazione sezione album prima fila*/


/* inizo stilizzazione sezione album seconda fila */
.played-second-row{
    display: flex;
    gap: 25px;
}

.played-second-row .image-album img{
    width: 100%;
}

#second-title{
    margin-bottom: 10px;
}

h3{
    color: #7d7f84;
    font-size: 10px;
    margin-top: 5px;
    margin-bottom: 30px;
}
/* inizo stilizzazione sezione album seconda fila */


/* inizo stilizzazione sezione album terza fila */
.played-third-row{
    display: flex;
    gap: 25px;
}

.played-third-row .image-album img{
    width: 100%;
    border-radius: 50%;
}

#third-title{
    margin-bottom: 10px;
}

h3{
    color: #7d7f84;
    font-size: 10px;
    margin-bottom: 30px;
}
/* inizo stilizzazione sezione album terza fila */


/* container media navbar */
/* footer sinistra */
footer .container-media{
    height: 90px;
    width: 100%;
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    background-color: #282828;
}

.container-media{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-left{
    display: flex;
    align-items: center;
}

.album-song img{
    width: 40px;
    margin-left: 10px;
}

.album-song img:hover{
    filter: opacity(.4);
}

.album-small-text{
    margin-left: 10px;
}

.album-small-text a{
    text-decoration: none;
}

.album-small-text h3{
    color: white;
    margin: 0px;
    font-size: 10px;
}

.album-small-text h4{
    font-size: 7px;
    color: #6d6d6d;
    margin-top: 2px;
}

.album-small-text h3:hover{
    text-decoration: underline;
}

.album-small-text h4:hover{
    text-decoration: underline;
}

.heart a{
    color: #6d6d6d;
    margin-left: 10px;
}

.heart a:hover{
    color: white; 
}


/* footer centrale */
.footer-central{
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.bar-music{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
}

.bar-music span{
    color: white;
    font-size: 10px;
}

.music-bar{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.music-buttons{
    display: flex;
    align-items: center;
    gap: 20px;
    color: white;
}

.music-buttons a{
    color: white;
    font-size: 14px;
    transition: transform 0.8s;
}

.music-buttons a:hover{
    transform: scale(1.3);
}

.music-buttons .fa-play-circle{
    font-size: 30px;
}

#play{
    height: 2px;
    border: white 2px solid;
    border-radius: 2px;
    width: 100px;
    display: flex;
    align-items: center;
    margin-left: 10px;
}

#stop{
    height: 2px;
    border: rgba(153, 153, 153, .7) 2px solid;
    border-radius: 2px;
    width: 200px;
    margin-right: 10px;
}

#play:hover{
    border: #81b71a 2px solid;
}

#bar{
    display: flex;
    align-items: center;
}

.music-bar #bar a{
    font-size: 15px;
    color:white;
    position: relative;
    left: 90px;
    transition: transform 0.8s;
}

.music-bar #bar a:hover{
    transform: scale(1.1)
}



/* footer destra */
.footer-right .volume{
    margin-right: 5px;
    display: flex;
    gap: 10px;
}

.footer-right .volume a{
    color: white;
    font-size: 14px;
    transition: transform 0.3s;
}

.footer-right .volume a:hover{
    transform: scale(1.3);
}

.volume-bar{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.volume-scroll{
    display: flex;
    justify-content: center;
}

#down{
    height: 2px;
    border: white 2px solid;
    border-radius: 2px;
    width: 20px;
    display: flex;
    align-items: center;
    margin-left: 10px;
}

#up{
    height: 2px;
    border: rgba(153, 153, 153, .7) 2px solid;
    border-radius: 2px;
    width: 60px;
    margin-right: 10px;
}

#down:hover{
    border: #81b71a 2px solid;
}

#volume{
    display: flex;
    align-items: center;
}

.volume-scroll #down a{
    font-size: 8px;
    color:white;
    position: relative;
    left: 15px;
    transition: transform 0.8s;
}

.volume-scroll #down a:hover{
    transform: scale(1.5)
}
/* fine container media navbar */



/* media query*/
/* versione laptop */
@media screen and (max-width: 992px) {

    /* album prima fila */
    .played-first-row{
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        justify-content: flex-start;
    }

    .played-first-row .image-album{
        width: 120px;
    }
    
    .played-second-row{
        display: flex;
        gap: 5px;
        width: 850px;
    }

    .played-third-row{
        display: flex;
        gap: 5px;
        width: 850px;
    }

    .menù-links ul{
        display: flex;
        flex-wrap: wrap;
    }
}

/* versione tablet */
@media screen and (max-width: 768px) {

    /* album prima fila */
    .played-first-row{
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
    }

    .played-second-row{
        display: flex;
        gap: 5px;
        width: 850px;
    }

    .played-third-row{
        display: flex;
        gap: 5px;
        width: 850px;
    }

    .menù-links ul{
        display: flex;
        flex-wrap: wrap;
    }

    .footer-right .volume{
        gap: 5px;
    }

    /* barra musicale in footer */
    #play{
        width: 40px;
    }
    
    #stop{
        width: 80px;
    }
    
    .music-bar #bar a{
        left: 30px;
    }
}

/* versione mobile */
@media screen and (max-width: 480px){
    .scrollbar{
        min-width: 50px;
    }

    .scrollbar .logo-mobile{
        margin-bottom: 20px;
        margin-right: 30px;
        display: block;
    }

    .logo{
        display: none;
    }

    #home,
    #search,
    #librery{
        padding-left: 0px ;
        justify-content: space-around;
    }

    #home h6,
    #search h6,
    #librery h6{
        display: none;
    }

    .played-first-row{
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
    }

    .played-first-row .image-album{
        width: calc(100% / 2 - 5px / 2 * 1);
    }

    .played-second-row{
        display: flex;
        gap: 5px;
        width: 1100px;
    }


    .played-third-row{
        display: flex;
        gap: 5px;
        width: 1100px;
    }

    .playlist{
        display: none;
    }

    .playlist-name{
        display: none;
    }

    #button{
        position: absolute;
        right: 100px;
        top: 25px;
    }

    .install .download h6,
    .artist h6,
    #line{
        display: none;
    }

    .download{
        margin-top: 460px;
    }

    .music-buttons{
        gap: 10px;
    }

    .footer-right .volume{
        gap: 5px;
    }

    /* barra musicale in footer */
    #play{
        width: 20px;
    }
    
    #stop{
        width: 50px;
    }
   
    .music-bar #bar a{
        left: 15px;
    }

    /* barra volume in footer */
    #down{
        width: 10px;
    }
    
    #up{
        width: 40px;
    }

    .volume-scroll #down a{
        left: 5px;
    }
}
